<ul class="list-group">
	<% @users.each do |user| %>
	  <li class="list-group-item">
	  	<%= user.email %>
	  	<span class="pull-right">
	  		<%= link_to "Ping", user_ping_path(user), class: "pull-right" %>
	  		</span>
	  </li>
	<% end %>
</ul>