<ul class="list-group" style="width: 50%;">
	<% @users.each do |user| %>
	  <li class="list-group-item justify-content-between">
	  	<%= user.email %>
	  	<span class="row">
	  		<%= button_to "Ping to home", user_ping_to_home_path(user), class: "btn btn-success", form_class: "col-md-6" %>
	  		<%= button_to "Ping to about", user_ping_to_about_path(user), class: "btn btn-info", form_class: "col-md-6" %>
	  		</span>
	  </li>
	<% end %>
</ul>